.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  body,html{
      height: 100%;
      margin: 0;
  }
  .bg{
    background-image: url('img/image.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    margin-top: 58px;
    filter: brightness(95%);

  }


